@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

#submitRequest {
    color: rgb(235, 230, 217);
    font-size: 12px;
    background-color: rgb(73, 83, 172);
    padding-top: 3px;
    padding-bottom: 3px;
}